
# ide files
*.depend
*.layout
*.cbp
*.codelite
*.kdev4
*.project
*.workspace

#cmake files
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# objects files
obj/

# executable and builds
bin/
build/
learnOpenGL
